@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1c1e;
}

::-webkit-scrollbar-thumb {
  background: #4e4f52;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7e82;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
